<li dir="rtl" [formGroup]="userForm">
    
    <input   type="text" placeholder="id" formControlName="id" />
    <ng-container *ngIf="userForm.controls['id'].errors">
        <div *ngIf="userForm.controls['id'].errors['required']">
        השדה הוא שדה חובה
        </div>
   </ng-container>
    <input   type='text' placeholder="name"  formControlName="name" />
    <ng-container *ngIf="userForm.controls['name'].errors">
        <div *ngIf="userForm.controls['name'].errors['required']">
        השדה הוא שדה חובה
        </div>
   </ng-container>
    <input   type='text' placeholder="pel"formControlName="pel" />
    <ng-container *ngIf="userForm.controls['pel'].errors">
        <div *ngIf="userForm.controls['pel'].errors['required']">
        השדה הוא שדה חובה
        </div>
   </ng-container>
    <input   type='text' placeholder="address" formControlName="address" />
    <ng-container *ngIf="userForm.controls['address'].errors">
        <div *ngIf="userForm.controls['address'].errors['required']">
        השדה הוא שדה חובה
        </div>
   </ng-container>
    <input   type='text' placeholder="kindTreatment" formControlName="kind" />
    <ng-container *ngIf="userForm.controls['kind'].errors">
        <div *ngIf="userForm.controls['kind'].errors['required']">
        השדה הוא שדה חובה
        </div>
   </ng-container>
    <input   type='text' placeholder="id-doctor" formControlName="num" />
    <ng-container *ngIf="userForm.controls['num'].errors">
        <div *ngIf="userForm.controls['num'].errors['required']">
        השדה הוא שדה חובה
        </div>
   </ng-container>
  
    
    <button  (click)="keep()">שמירה</button>
</li>